<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<main class="container">
  <h1>Cadastro</h1>

  <form action="/cadastro" method="POST">
    <label>Nome</label>
    <input type="text" name="nome" required>

    <label>E-mail</label>
    <input type="email" name="email" required>

    <label>Senha</label>
    <input type="password" name="senha" required>

    <button type="submit">Cadastrar</button>

 

  </form>

  <a href="/login" class="voltar">Já tenho conta</a>
</main>

<%- include('../partials/footer') %>

</body>
</html>