<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Histórico</title>
 <link rel="stylesheet" href="/css/style.css">
</head>
<body onload="mostrarHistorico()">

<main class="container">
  <h1>Histórico Emocional</h1>

  <div id="historico"></div>

  <button onclick="limparHistorico()">Limpar histórico</button>

  <a href="index.html" class="voltar">Voltar</a>
</main>

<script src="script.js"></script>
</body>
</html>