<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Ansioso</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <main class="container">
    <h1>Ansioso</h1>
    <p>Aplicação web de apoio emocional e organização de pensamentos.</p>

    <a href="#" class="botao">Diário Emocional</a>
    <a href="#" class="botao">Fato ou Interpretação</a>
    <a href="#" class="botao">Não Envie Agora</a>
    <a href="#" class="botao">Modo Crise</a>
  </main>

</body>
</html>